#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form > input {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  color: black;
  font-size: 15px;
}

#login-form > input:first-child {
  margin: 10px;
}
