@import "reset.css";
@import "layout.css";

/* square 1~9 */
@import "squares/square.css";
@import "squares/square1.css";
@import "squares/square2.css";
@import "squares/square3.css";
@import "squares/square5.css";
@import "squares/square6.css";
@import "squares/square7.css";
@import "squares/square8.css";

.hidden {
  display: none;
}

img {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
