body {
    letter-spacing: -0.025em;
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    line-height: 100px;
    z-index: 999;
    transition: top 0.5s;
}

.Header.on {
    top: -100px;
}

.Header .Gnb ul {
    display: flex;
    gap: 40px;
    font-size: 18px;
}

.mainVisual {
    background: url(./assets/images/main.png) no-repeat fixed center center/cover;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 3px #000;
}
.mainVisual strong {
    display: block;
    margin: 0 0 30px 0;
    font-size: 25px;
    font-weight: 500;
    transform: translateY(100px);

    opacity: 0;
}
.mainVisual h2 {
    display: block;
    margin: 0 0 30px 0;
    font-size: 75px;
    font-weight: 900;
}
.mainVisual p {
    font-size: 15px;
}

.navBar {
    position: fixed;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    z-index: 999;
}

.navBar li {
    width: 50px;
}

.navBar li a {
    position: relative;
    display: block;
    font-size: 0;
    height: 15px;
}

.navBar li a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 30%;
    height: 1px;
    background: #333;
    transition: 0.5s;
}

.navBar li.on a::after {
    width: 100%;
}

.this_page {
    position: absolute;
    right: 0;
    top: -100px;
    text-align: right;
    white-space: nowrap;
}

.allOpen {
    position: relative;
    display: block;
    font-size: 0;
    width: 40px;
    height: 40px;
    border-radius: 3px;
}

.allOpen button {
    border: none;
    outline: none;
    background: transparent;
}

.allOpen::before,
.allOpen::after {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    height: 4px;
    background: #fff;
}

.allOpen::before {
    top: 7px;
}

.allOpen::after {
    bottom: 7px;
}

.allOpen button::before,
.allOpen button::after {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    height: 4px;
    background: #fff;
    top: calc(50% - 2px);
}

.allOpen.on::before,
.allOpen.on::after {
    opacity: 0;
}

.allOpen.on button::before {
    transform: rotate(45deg);
}

.allOpen.on button::after {
    transform: rotate(-45deg);
}
