.recommendation-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  margin: 25px;
  border-top: var(--border);
}
.recommendation-bar__text,
.recommendation-bar__title {
  opacity: 0.4;
}

.recommendation-bar__text {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  font-weight: 600;
  border-bottom: var(--border);
}

.open-chat__title {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  opacity: 0.4;
}

.open-chat__title-link i {
  margin-left: 5px;
}

.open-chat__contents {
  display: flex;
  justify-content: space-between;
  margin: 15px 25px;
  border-bottom: var(--border);
  padding: 10px 0;
}

.open-chat__contents-text {
  margin-top: 25px;
}

.open-chat__contents-text,
.open-chat__contents-text__hashtags {
  display: flex;
  flex-direction: column;
}

.open-chat__contents-text__hashtags span:first-child {
  font-weight: 600;
}
.open-chat__contents-text__hashtags span:last-child {
  font-size: 15px;
  text-transform: uppercase;
  opacity: 0.4;
}

.open-chat__contents-text__members span,
.open-chat__contents-text__hashtags span {
  padding: 3px 0;
}

.open-chat__contents-text__members {
  display: flex;
  align-items: center;
}

.open-chat__contents-text__members img {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 5px;
  margin-left: 0;
}
.open-chat__contents-text__members span {
  padding-right: 10px;
  opacity: 0.4;
}
.open-chat__contents-text__members span:last-child {
  color: red;
  font-weight: 600;
}

.open-chat__contents-photo {
  display: flex;
  position: relative;
}

.open-chat__contents-photo img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.open-chat__contents-text__members div {
  width: 1px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 8px;
}

.open-chat__contents-photo span {
  width: 56px;
  height: 22px;
  display: flex;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 10px;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  bottom: 8px;
  right: 8px;
}

.open-chat__contents-photo i {
  padding-right: 5px;
  font-size: 10px;
}
