.gradient-btn {
  font-size: 20px;
  border: none;
  padding: 10px;
  margin-top: 22px;
  border-radius: 10px;
}

.gradient-text {
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  margin: 2px;
}

.gradient-reset {
  margin-top: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 800;
}
