#section-second > .column:first-child {
  display: flex;
  justify-content: flex-start;
}

#todo-form > input {
  width: 200px;
  border: none;
  padding: 3px;
  padding-left: 10px;
  margin: 3px;
  margin-top: 17px;
}

#todo-form > input:hover {
  background-color: rgb(224, 227, 233);
}

#todo-list {
  width: 280px;
  height: 120px;
  margin-top: 4px;
}

#todo-list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
}

#todo-list > li > span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

#todo-list > li > button {
  border: none;
  background: transparent;
}
