#reset-trans-btn {
  display: none;

  text-align: center;
  font-size: 50px;
  width: 250px;
  height: 60px;
  position: fixed;
  top: 10%;
  left: 40.3%;
  opacity: 0.5;
  border: 3px solid black;
  border-radius: 50px;
  transition-duration: 0.4s;
  transition-property: transform opacity color border-color background;
}

#reset-trans-btn:hover {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  transform: scale(1.05);
  cursor: pointer;
}
