#no-mobile {
  display: none;
}

@media screen and (min-width: 550px) {
  #no-mobile {
    display: none;
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: var(--yellow);
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 32px;
  }
  /* 스크롤 불가 설정 */
  body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}
