#setting-header {
  display: flex;
  margin: 50px 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.setting-header__column {
  font-size: 30px;
}

.setting-header__column:nth-child(2) {
  font-weight: 600;
}
