#status-bar {
  display: flex;
  justify-content: center;
  padding: 2px 3px;
  position: fixed;
  top: 0;
  width: 99.5%;
  background-color: white;
  z-index: 10;
}

.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child span {
  font-weight: 700;
  margin-right: 5px;
}

.status-bar__column:nth-child(2) {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  font-weight: 550;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column i {
  margin-left: 5px;
}
