:root {
    --mc: #352461;
    --gl: #413d39;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 800px;
    padding: 50px 100px;
    background: #85bb8e;
}
