.Popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
}

.Pop__ {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Pop__tab {
    display: flex;
    justify-content: space-between;
    color: #fff;
}


button[data-color='on'] {
    color: #f00;
}