h1.on {
    color: #f00;
}
h2.on {
    color: #f00;
}

.GNB {
    border-top: 5px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.GNB > ul {
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}

.GNB > ul > li {
    position: relative;
}
.GNB .smenu {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
