.box {
    position: relative;
    display: flex;
    width: 1200px;
    margin: 200px auto;
    height: 500px;
}

.box>div {
    flex: 1;
}

.box .left {
    background: #333;
}

.box .right {
    background: #ddd;
}

.box h3 {
    font-family: serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.box h3::before {
    content: "나는 바보다.";
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.5s;
}

.box h3.on::before {
    width: 50%;
}